.container{
    background-color: rgb(0, 0, 0);
    padding: 20px;
   color: white;
    justify-content: center;
    text-align: center;
}
.lorem-text{
    background-color: white;
    border-radius: 10px;
}
/* p{
    color: antiquewhite;
    padding: 10px;
} */
.lorem-text p{
    color: black;
    font-weight: 700;
    font-size: larger;
}
*{
   margin: 0;
   padding: 10px;
   justify-content: center;
}
.btn{
    color: rgb(90, 87, 87);
    background-color: rgb(5, 218, 111);
   border: 2px solid black;
   border-radius: 10px;
}
